@import"_variables.scss";
.formulario{
    background-color: $fondo-azul4;
    border: solid 2px black;
    top: 20%;
    right: 10%;
    @include media (xs){
        top: 15%;
        right: 0%;
    }
    @include media(sm){
        top: 15%;
        right: 0%;
    }
}
.sin_margen{
    margin-top: 2em;
}